@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MedievalSharp&display=swap');

html, body{
  margin:0 auto;
  background-color: #282c34;
}
.App{
  text-align: center;
  background-color: white;
}
.App-body{
  margin: 0 auto;
  padding: 125px 0 150px 0;
  width: 70%;
  font-size: 22px;
  font-family: Lato;
  color: rgb(71,60,54);
}
.App-body h1{
  padding-top: 100px;
  font-family: MedievalSharp;
  font-size: 60px;
}
.App-body h3{
  padding: 100px 0 25px 0;
  font-family: MedievalSharp;
  font-size: 40px;
}
.play-button{
  margin:75px 0 5px 0;
  padding:20px 35px 20px 35px;
  font-family:MedievalSharp;
  font-size:30px;
  font-weight:bold;
  color:rgb(71,60,54);
  transition:1s;
  text-align:center;
  border:3px solid rgb(71,60,54);
  border-radius:25px;
  background-color:rgb(168,134,91);
}
.play-button:hover{ 
  cursor: pointer;
  color:rgb(168,134,91);
  opacity:100%;
  background-color:rgb(71,60,54);
  border:3px solid rgb(71,60,54);
}
li{
  list-style-type: none;
}
.App-body img{
  padding: 10px;
  border-radius: 20px;
}