.battlefield{
    grid-area: battlefield;
    border-radius: 5px;
    border: 1px dotted rgba(255,255,255,0.6);
}
.battlefield-container{
    height: 324px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.Plunder img{
    width: 90px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6), 0 10px 20px 0 rgba(0,0,0,0.6);
}