.battlefield{
    display: grid;
    grid-area: battlefield;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.battlefield-container{
    height: 35vh;
    width: 35vh;
    border-radius: 10%;
    background-size: cover;
    border: 2px solid rgb(255,255,255,0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.Stone{
    position: absolute;
    z-index: 1;
}
.Stone img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Mortar{
    position: absolute;
    z-index: 1;
}
.Mortar img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Labour{
    position: absolute;
    z-index: 1;
}
.Labour img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Wood{
    position: absolute;
    z-index: 1;
}
.Wood img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Money{
    position: absolute;
    z-index: 1;
}
.Money img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Shortage{
    position: absolute;
    z-index: 2;
}
.Shortage img{
    height: 21vh;
    border-radius: 5%;
    transform: rotate(-20deg);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Frost{
    position: absolute;
    z-index: 2;
}
.Frost img{
    height: 21vh;
    border-radius: 5%;
    transform: rotate(-10deg);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Plague{
    position: absolute;
    z-index: 2;
}
.Plague img{
    height: 21vh;
    border-radius: 5%;
    transform: rotate(10deg);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Fire{
    position: absolute;
    z-index: 2;
}
.Fire img{
    height: 21vh;
    border-radius: 5%;
    transform: rotate(20deg);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Bankruptcy{
    position: absolute;
    z-index: 2;
}
.Bankruptcy img{
    height: 21vh;
    border-radius: 5%;
    transform: rotate(-15deg);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.Plunder img{
    height: 21vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}