@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MedievalSharp&display=swap');

.winner{
    padding:100px;
}
.winner h1{
    font-family: MedievalSharp;
    font-size: 60px;
}
.deck{
    grid-area: deck;
}
.game{
    grid-area: game;
    margin-left: 25px;
}
#grid-container{
    display: grid;
    grid-template-areas:
        'game';
    grid-template-columns: 1fr;
    background-color: #282c34;
}
.dealing-deck{
    position: relative;
}
.deck-card{
    position: absolute;
    list-style: none;
    top: 240px;
    left: 50px;
}
.deck-card img{
    width: 125px;
    border-radius: 5px;
}
.player{
    margin: 0 auto;
    text-align: center;
}
.player2{
    margin: 0 auto;
    text-align: center;
}
.player-hand{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player2-hand{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#player-table{
    display: grid;
    grid-template-areas:
        'player-material player-tools';
    grid-template-columns: 50%;
}
#player2-table{
    display: grid;
    grid-template-areas:
        'computer-material computer-tools';
    grid-template-columns: 50%;
}
.player-material{
    margin: 30px;
    grid-area: player-material;
    border-radius: 5px;
}
.player-material-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player2-material{
    margin: 30px;
    grid-area: computer-material;
    border-radius: 5px;
}
.player2-material-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player-tools{
    margin: 20px;
    grid-area: player-tools;
}
.player-container{
    height: 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#player2-container{
    height: 125px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player2-tools{
    margin: 20px;
    grid-area: computer-tools;
}
.player-card{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.player2-card{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.player-card img{
    width: 90px;
    border-radius: 5px;
    transition: 0.5s linear;
}
.player-card img:hover{
    cursor: pointer;
    transform: translateY(-10px);
}
.player2-card img{
    width: 90px;
    border-radius: 5px;
    transition: 0.5s linear;
}
.player2-card img:hover{
    cursor: pointer;
    transform: translateY(10px);
}
.player-card-table{
    position: absolute;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.player-card-table img{
    width: 90px;
    border-radius: 5px;
    transition: 0.5s linear;
}
.Money{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.Wood{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.Stone{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.Mortar{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.Labour{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 5px;
}
.Money img{
    width: 60px;
    border-radius: 5px;
}
.Wood img{
    width: 60px;
    border-radius: 5px;
}
.Stone img{
    width: 60px;
    border-radius: 5px;
}
.Mortar img{
    width: 60px;
    border-radius: 5px;
}
.Labour img{
    width: 60px;
    border-radius: 5px;
}
.Bankruptcy{
    position: absolute;
}
.Fire{
    position: absolute;
}
.Shortage{
    position: absolute;
}
.Frost{
    position: absolute;
}
.Plague{
    position: absolute;
}
.Bankruptcy img{
    width: 90px;
    border-radius: 5px;
    transform: rotate(-20deg);
}
.Fire img{
    width: 90px;
    border-radius: 5px;
    transform: rotate(-20deg);
}
.Shortage img{
    width: 90px;
    border-radius: 5px;
    transform: rotate(-20deg);
}
.Frost img{
    width: 90px;
    border-radius: 5px;
    transform: rotate(-20deg);
}
.Plague img{
    width: 90px;
    border-radius: 5px;
    transform: rotate(-20deg);
}
.player-points{
    position: absolute;
    padding: 20px;
    background: #282c34;
    border-radius: 5px;
    font-family:Lato;
    font-weight:900;
    font-size: 30px;
    color: rgb(168,134,91);
    margin-left: 90px;
}
.discard-button{
    position: absolute;
    margin-top: -18px;
    margin-left: 28px;
    padding: 0 10px 2px 10px;
    font-family: Lato;
    font-size: 25px;
    font-weight: bold;
    color: rgb(71,60,54);
    transition: 1s;
    text-align: center;
    border: 1px solid rgb(71,60,54);
    border-radius: 25px;
    background-color: rgb(168,134,91);
}
.discard-button:hover{ 
    cursor: pointer;
    color: rgb(168,134,91);
    opacity: 100%;
    background-color: rgb(71,60,54);
    border: 1px solid rgb(168,134,91);
}
.draw-button{
    margin-bottom: 8px;
    padding: 10px 20px 12px 20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 500;
    color: rgb(71,60,54);
    transition: 1s;
    text-align: center;
    border: 1px solid rgb(71,60,54);
    border-radius: 10px;
    background-color: #282c34;
  }
  .draw-button:hover{ 
    cursor: pointer;
    color: rgb(168,134,91);
    background-color: #282c34;
    border: 1px solid rgb(168,134,91);
  }