@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MedievalSharp&display=swap');

.winner{
    padding:100px;
}
.winner h1{
    font-family: MedievalSharp;
    font-size: 60px;
}
#player{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
        'player2-hand player2-hand player2-hand'
        'player2-materials battlefield player2-tools'
        'player-materials battlefield player-tools'
        'player-hand player-hand player-hand';
    grid-template-columns: 3.5fr 2fr 3.5fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
}
.discard-button{
    position: absolute;
    margin-top: -14px;
    margin-left: -14px;
    height: 29px;
    width: 29px;
    padding: 0 0 1px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255,0.4);
    transition: 1s;
    text-align: center;
    line-height: 0;
    border: 2px solid rgb(168,134,91);
    border-radius: 50%;
    background-color: rgba(168,134,91,0.9);
    z-index:1;
}
.discard-button:hover{ 
    cursor: pointer;
    color: rgba(168,134,91);
    opacity: 100%;
    background-color: rgba(58,57,59,0.8);
    border: 2px solid rgb(168,134,91);
    transform: rotate(-90deg);
}