.player-hand{
    padding:25px;
}
.player-card{
    display:inline;
    list-style:none;
    padding:5px;
}
.player-card img{
    width:100px;
    border-radius:5px;
    transition:0.5s linear;
}
.player-card img:hover{
    transform:translateY(-20px);
}