.deck{
    grid-area:deck;
}
.game{
    grid-area:game;
}
.discard{
    grid-area:discard;
}
#grid-container{
    display:grid;
    grid-template-areas:
        'deck game discard';
    grid-template-columns:2fr 6fr 2fr;
}
.dealing-deck{
    position:relative;
}
.deck-card{
    position:absolute;
    list-style:none;
}
.deck-card img{
    width:125px;
    border-radius:5px;
}
.player-hand{
    width:100%;
    padding:25px;
}
.player2-hand{
    width:100%;
    padding:25px;
}
.player-card{
    display:inline;
    list-style:none;
    padding:5px;
}
.player2-card{
    display:inline;
    list-style:none;
    padding:5px;
}
.player-card img{
    width:15%;
    border-radius:5px;
    transition:0.5s linear;
}
.player2-card img{
    width:15%;
    border-radius:5px;
    transition:0.5s linear;
}
#player-table{
    display:grid;
    grid-template-areas:
        'player-material player-tools';
    grid-template-columns:50%;
}
#player2-table{
    display:grid;
    grid-template-areas:
        'computer-material computer-tools';
    grid-template-columns:50%;
}
.player-material{
    grid-area:player-material;
}
.player2-material{
    grid-area:computer-material;
}
.player-tools{
    grid-area:player-tools;
}
.player2-tools{
    grid-area:computer-tools;
}


