@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MedievalSharp&display=swap');

.winner{
    padding:100px;
}
.winner h1{
    font-family: MedievalSharp;
    font-size: 60px;
}
.deck{
    grid-area: deck;
}
.game{
    grid-area: game;
    margin-left: 25px;
}
#grid-container{
    display: grid;
    grid-template-areas:
        'game';
    grid-template-columns: 1fr;
    background-color: #282c34;
}
.player{
    margin: 0 auto;
    text-align: center;
}
.player2{
    margin: 0 auto;
    text-align: center;
}
#player-table{
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
        'player2-materials battlefield player2-tools'
        'player-materials battlefield player-tools';
    grid-template-columns: 3fr 3fr 3fr;
}
.discard-button{
    position: absolute;
    margin-top: -17px;
    margin-left: 41px;
    padding: 0 8px 2px 8px;
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    color: rgb(168,134,91);
    transition: 1s;
    text-align: center;
    border: 2px solid #282c34;
    border-radius: 25px;
    background-color: #282c34;
    z-index:1;
}
.discard-button:hover{ 
    cursor: pointer;
    color: #282c34;
    opacity: 100%;
    background-color: rgb(168,134,91);
    border: 2px solid #282c34;
    transform: rotate(-90deg);
}
