.player2-hand{
    grid-area: player2-hand;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player2-card{
    position: relative;
    padding: 10px;
}
.player2-card img{
    height: 21vh;
    border-radius: 5%;
    transition: 0.5s linear;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.player2-card img:hover{
    cursor: pointer;
    transform: translateY(-10px);
}