.player2-tools{
    grid-area: player2-tools;
    display: flex;
    height: auto;
    justify-content: left;
    align-items: center;
    align-content: center;
}
.player2-tools-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
}