.player2-tools{
    margin: 30px;
    grid-area: computer-tools;
}
.player2-tools-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}