.player2-hand{
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.player2-card{
    padding: 10px;
}
.player2-card img{
    width: 115px;
    border-radius: 5px;
    transition: 0.5s linear;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6), 0 10px 20px 0 rgba(0,0,0,0.6);
}
.player2-card img:hover{
    cursor: pointer;
    transform: translateY(-15px);
}