.player-points{
    position: relative;
    z-index: 1;
    height: 8vh;
    width: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 15%;
    font-family:Lato;
    font-weight: 900;
    font-size: 2vw;
    text-align: center;
    color: rgba(255,255,255,0.2);
    margin: 0 3vw 0 2.5vw;
}