.player-tools{
    grid-area: player-tools;
    display: flex;
    height: auto;
    justify-content: left;
    align-items: center;
    align-content: center;
}
.player-tools-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
}
.player-card-table{
    z-index: 2;
    margin-left: -3.5vw;
}
.player-card-table img{
    height: 16vh;
    border-radius: 5%;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.player-card-table img:hover{
    cursor: pointer;
}