.player-materials{
    height: 90px;
    margin: 40px 30px 30px 30px;
    grid-area: player-materials;
    border-radius: 5px;
}
.player-materials-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.material img{
    width: 90px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6), 0 10px 20px 0 rgba(0,0,0,0.6);
}
.material img:hover{
    cursor: pointer;
}